<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.littlepig.dao.PigHouseMapper">
    <resultMap id="BaseResultMap" type="com.pj.littlepig.pojo.PigHouse">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="no" jdbcType="VARCHAR" property="no"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="isdisinfection" jdbcType="CHAR" property="isdisinfection"/>
        <result column="factoryId" jdbcType="INTEGER" property="factoryId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, no, description, isdisinfection, factoryId
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pighouse
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pighouse
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.pj.littlepig.pojo.PigHouse">
    insert into pighouse (id, no, description,
      isdisinfection, factoryId)
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{isdisinfection,jdbcType=CHAR}, #{factoryId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.pj.littlepig.pojo.PigHouse">
        insert into pighouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="no != null">
                no,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="isdisinfection != null">
                isdisinfection,
            </if>
            <if test="factoryId != null">
                factoryId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="no != null">
                #{no,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="isdisinfection != null">
                #{isdisinfection,jdbcType=CHAR},
            </if>
            <if test="factoryId != null">
                #{factoryId,jdbcType=INTEGER},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pj.littlepig.pojo.PigHouse">
        update pighouse
        <set>
            <if test="no != null">
                #{no,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="isdisinfection != null">
                #{isdisinfection,jdbcType=CHAR},
            </if>
            <if test="factoryId != null">
                #{factoryId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pj.littlepig.pojo.PigHouse">
    update pighouse
    set #{no,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{isdisinfection,jdbcType=CHAR}, #{factoryId,jdbcType=INTEGER})
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!--通过id来获取-->
    <select id="getPigHouseListByHouseId" parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pighouse
        where id = #{id}
    </select>

    <!--通过工厂id来获取-->
    <select id="getPagePigHouseList" parameterType="com.pj.littlepig.Vo.PigHousePaginationInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pighouse
        <where>
            id >=(select id from pighouse
            <where>
                <if test="factoryId !=null">
                    and factoryId=#{factoryId}
                </if>
            </where>
            limit #{currentIndex},1)
            <if test="factoryId!=null">
                and factoryId = #{factoryId}
            </if>
        </where>
        limit #{pageSize}
    </select>


    <select id="getAllPigHouseList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pighouse
    </select>
</mapper>
