<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.littlepig.dao.PigMapper">
  <resultMap id="BaseResultMap" type="com.pj.littlepig.pojo.Pig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="variety" jdbcType="VARCHAR" property="variety" />
    <result column="factoryId" jdbcType="INTEGER" property="factoryid" />
    <result column="pigHouseId" jdbcType="INTEGER" property="pighouseid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, variety, factoryId, pigHouseId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pj.littlepig.pojo.Pig">
    insert into pig (id, type, variety, 
      factoryId, pigHouseId)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{variety,jdbcType=VARCHAR}, 
      #{factoryid,jdbcType=INTEGER}, #{pighouseid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pj.littlepig.pojo.Pig">
    insert into pig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="variety != null">
        variety,
      </if>
      <if test="factoryid != null">
        factoryId,
      </if>
      <if test="pighouseid != null">
        pigHouseId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="variety != null">
        #{variety,jdbcType=VARCHAR},
      </if>
      <if test="factoryid != null">
        #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="pighouseid != null">
        #{pighouseid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pj.littlepig.pojo.Pig">
    update pig
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="variety != null">
        variety = #{variety,jdbcType=VARCHAR},
      </if>
      <if test="factoryid != null">
        factoryId = #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="pighouseid != null">
        pigHouseId = #{pighouseid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pj.littlepig.pojo.Pig">
    update pig
    set type = #{type,jdbcType=INTEGER},
      variety = #{variety,jdbcType=VARCHAR},
      factoryId = #{factoryid,jdbcType=INTEGER},
      pigHouseId = #{pighouseid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <resultMap id="BaseResultMap" type="com.pj.littlepig.pojo.Pig">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="variety" jdbcType="VARCHAR" property="variety" />
        <result column="factoryId" jdbcType="INTEGER" property="factoryid" />
        <result column="pigHouseId" jdbcType="INTEGER" property="pighouseid" />
    </resultMap>
    <sql id="Base_Column_List">
    id, type, variety, factoryId, pigHouseId
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pig
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pig
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.pj.littlepig.pojo.Pig">
    insert into pig (id, type, variety,
      factoryId, pigHouseId)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{variety,jdbcType=VARCHAR},
      #{factoryid,jdbcType=INTEGER}, #{pighouseid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.pj.littlepig.pojo.Pig">
        insert into pig
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="variety != null">
                variety,
            </if>
            <if test="factoryid != null">
                factoryId,
            </if>
            <if test="pighouseid != null">
                pigHouseId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="variety != null">
                #{variety,jdbcType=VARCHAR},
            </if>
            <if test="factoryid != null">
                #{factoryid,jdbcType=INTEGER},
            </if>
            <if test="pighouseid != null">
                #{pighouseid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pj.littlepig.pojo.Pig">
        update pig
        <set>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="variety != null">
                variety = #{variety,jdbcType=VARCHAR},
            </if>
            <if test="factoryid != null">
                factoryId = #{factoryid,jdbcType=INTEGER},
            </if>
            <if test="pighouseid != null">
                pigHouseId = #{pighouseid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pj.littlepig.pojo.Pig">
    update pig
    set type = #{type,jdbcType=INTEGER},
      variety = #{variety,jdbcType=VARCHAR},
      factoryId = #{factoryid,jdbcType=INTEGER},
      pigHouseId = #{pighouseid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!--通过工厂id来获取-->
    <select id="getPigListByFactory" parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pig
        where factoryId = #{factoryId}
    </select>

    <!--通过工厂id来获取-->
    <select id="getPagePigList" parameterType="com.pj.littlepig.Vo.PigPaginationInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pig
        <where>
            id &gt;=(select id from pig
            <where>
                <if test="factoryId !=null">
                    and factoryId=#{factoryId}
                </if>
                <if test="houseId !=null">
                    and pighouseid = #{houseId}
                </if>
            </where>
            limit #{currentIndex},1)
            <if test="factoryId!=null">
                and factoryId = #{factoryId}
            </if>
            <if test="houseId !=null">
                and pighouseId = #{houseId}
            </if>
        </where>
        limit #{pageSize}
    </select>


    <select id="getAllPigList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pig
    </select>
</mapper>